body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f6f6f9;
    color: #333;
    overflow-x: hidden;
}

/* Header */
.top-header {
    padding: 20px 40px;
}

/* .logo-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    width: 28px;
}

.logo-text {
    font-size: 20px;
    font-weight: 600;
} */

/* Main container */
.container {
    text-align: center;
    margin-top: 50px;
}

.illustration {
    width: 140px;
    margin-bottom: 20px;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 10px 0;
}

.subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 40px;
}

/* Button */
.login-btn {
    background-color: #819efa;
    color: #fff;
    border: none;
    padding: 15px 50px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s;
}

.login-btn:hover {
    background-color: #5874cd;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: left;
    padding-left: 40px;
    font-size: 12px;
    color: #777;
}

.footer a {
    margin-left: 15px;
    color: #777;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

img.icon {
    width: 200px;
    margin-bottom: 20px;
}