body {
    background: #f3f3f7;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    padding: 20px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #ff621f;
}

.content {
    background: white;
    width: 90%;
    max-width: 800px;
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

.icon {
    width: 120px;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    margin-bottom: 5px;
}

.subtitle {
    color: #777;
    margin-bottom: 30px;
}

label {
    display: block;
    margin: 15px 0 5px;
    text-align: left;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.input-group input:focus {
    border-color: #3ecf5a;
}

#strengthBar {
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    margin: 8px 0;
}

#strengthBar .bar {
    height: 100%;
    width: 0%;
    background: red;
    border-radius: 5px;
    transition: 0.3s;
}

#strengthText {
    font-size: 14px;
    text-align: left;
}

.btn {
    width: 100%;
    padding: 15px;
    border: none;
    margin-top: 20px;
    background: #5874cd;
    color: white;
    border-radius: 30px;
    font-size: 17px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

footer {
    margin: 30px 0;
    color: #777;
}

.input-group {
    position: relative;
}

.toggle {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.eye-icon {
    width: 20px;
    opacity: 0.6;
}

.toggle:hover .eye-icon {
    opacity: 1;
}
