<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Changed</title>
    <link rel="stylesheet" href="/static/styles/pass_changed.css">
</head>
<body>


    <main class="container">
        <img src="/static/imgs/pass_changed.png" class="icon">

        <h1>Password changed!</h1>
        <p class="subtitle">You've Successfully Completed Your Password Reset!</p>

        <button class="login-btn" onclick="window.location.href='/login'" >Log In Now</button>
    </main>

    <footer class="footer">
        <span>Copyright©2023</span>
        <a href="#">Privacy Policy</a>
    </footer>

    <!-- <script src="pass_changed.js"></script> -->
</body>
</html>
