        <!-- <img src="https://cdn-icons-png.flaticon.com/512/1041/1041916.png" class="icon" /> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="/static/styles/reset_pass.css">
</head>
<body>

<div class="container">

    <div class="content">
         <img src="/static/imgs/reset_pass.png" class="icon" />

        <h2>Reset password</h2>
        <p class="subtitle">Please kindly set your new password.</p>

        <form id="resetForm" method="POST" action="/reset-password">

            <label>New password</label>
            <div class="input-group">
                <input type="password" id="password" name="password" required>
                   <span class="toggle" onclick="togglePassword('password', this)">
                        <img src="https://cdn-icons-png.flaticon.com/512/159/159604.png" class="eye-icon">
                    </span>
            </div>

            <div id="strengthBar">
                <div class="bar"></div>
            </div>
            <p id="strengthText">Password strength: Weak</p>

            <label>Re-enter password</label>
            <div class="input-group">
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                <span class="toggle" onclick="togglePassword('confirmPassword', this)">
                    <img src="https://cdn-icons-png.flaticon.com/512/159/159604.png" class="eye-icon">
                </span>
            </div>

            <button type="submit" class="btn">Save Password</button>
        </form>
    </div>

    <footer>
        Copyright ©2023 | Privacy Policy
    </footer>
</div>

<script src="/static/scripts/reset_pass.js"></script>
</body>
</html>
