<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Enter Verification Code</title>
    <link rel="stylesheet" href="/static/styles/verification_code.css" />
</head>
<body>
    <form method="POST" action="/verify-reset-code">
        <div class="modal">

            <a href="/forgot-password" class="close-btn">&times;</a>

            <h1>Enter Verification Code</h1>
            <p>We have sent a verification code to your email</p>


            
            <input type="hidden" name="email" value="{{ email }}">
            <input type="hidden" name="code" id="full-code">


            <div class="otp-inputs">

                <input type="text" class="otp-input" maxlength="1" inputmode="numeric" pattern="[0-9]" />
                <input type="text" class="otp-input" maxlength="1" inputmode="numeric" pattern="[0-9]" />
                <input type="text" class="otp-input" maxlength="1" inputmode="numeric" pattern="[0-9]" />
                <input type="text" class="otp-input" maxlength="1" inputmode="numeric" pattern="[0-9]" />
                <input type="text" class="otp-input" maxlength="1" inputmode="numeric" pattern="[0-9]" />
                <input type="text" class="otp-input" maxlength="1" inputmode="numeric" pattern="[0-9]" />
            </div>

            <button type="submit" class="verify-btn">Verify</button>
            <button type="button" class="resend" id="resendBtn">Resend verification code</button>
        </div>
    </form>

    <script src="/static/scripts/verification_code.js"></script>
</body>
</html>